
















.title_contacto{
    display: flex;
    justify-content: start;
    background-color: rgb(194, 62, 62);
    border-bottom: solid 1px rgb(255, 255, 255);


    h2{
        font-family: 'Oswald', sans-serif;
        display: flex;
        justify-content: start;
        color: white;
        font-weight: bold;
        padding-left: 35px;

    }
}




.form_container{
    background-color: rgb(194, 62, 62);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 20px;
    
    

    form{
        background-color: black;
        display: flex;
        justify-content: start;
        font-family: 'Roboto', sans-serif;
        font-size: medium;
        font-weight: bold;
        padding-top: 20px;
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
        text-align: center;

        legend{
            display: flex;
            justify-content: end;
            margin-bottom: 30px;
            color: white;
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
            padding-right: 50px;



        }

        label{
            color: white;
        }

        .nombre_form{
            padding-right: 30px;

        }

        .mail_form{

        }

        .mensaje_form{
            padding-left: 25px;
        }

    }

    h3{
        text-align: start;
        padding-top: 20px;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 2.5rem;
    }
    .foto_contacto{
   
        height: 350px;
        width: 430px;
        padding-top: 30px;
        padding-right: 30px;
    }

    .botones_contacto{
        display: flex;
        justify-content: center;
        padding-left: 30px;



        .boton_enviar{
            font-family: 'Oswald', sans-serif;

            width: 50px;
            height: 30px;
            color: white;
            background-color: black;
            margin-right: 30px;
            transition: 1s;
            background-color:rgb(194, 62, 62) ;

        }

        .boton_enviar:hover{
            width: 60px;
            height: 40px;

        }

        .boton_reset{
            font-family: 'Oswald', sans-serif;
            color: white;
            background-color: black;
            margin-right: 20px;
            width: 50px;
            height: 30px;
            transition: 1s;
            background-color: rgb(194, 62, 62);
        }

        .boton_reset:hover{
            width: 60px;
            height: 40px;
        }
    }

    
}

@media screen and (max-width: 1200px){

    header{
        background-image: none;
    }

    .form_container{
        .foto_contacto{
            width: 380px;
            height: 310px;
            margin-right: 20px;
            margin-top: 40px;

        }
    }
}

@media screen and (max-width: 1024px){

    header{
        background-image: none;
    }

    .form_container{
        .foto_contacto{
            margin-right: 0px;

        }
    }

    footer{

        .image_footer_container{
            .image_footer{
                width: 300px;
                height: 200px;
            }
        }
    }

}



@media screen and (max-width: 768px){

    .title_contacto{
        justify-content: center;
        h2{
            padding-left: 0px;
        }

    }

    .form_container{
        display: block;


        .foto_contacto{

            display: none;

        }

        h3{
            padding-right: 0px;
            display: flex;
            justify-content: center;

        }


        form{
            font-size: 1.2rem;
            margin-right: 0px;
            display: flex;
            justify-content: center;

                legend{
                    padding-right: 0px;
                    display: flex;
                    justify-content: center;
                }

                .nombre_form{
                    padding-right: 45px;

                }

                .mail_form{
                    padding-right: 20px;

                }

                .mensaje_form{
                    padding-left: 0px;
                }

                .botones_contacto{
                    padding-left: 35px;
                }

        }
    }

    footer{
        .image_footer_container{
    
            .image_footer{
                width: 250px;
                height: 170px;
            }
        }
    
        .copyright_redes_container{
            
    
    
            p{
                font-size: 10px;
            }
            a{
                font-size: 10px;
            }
        }
    
    .footer_content{
    
    ul{
        padding-top: 70px;
    }
    
    }
        }


}

@media screen and (max-width: 415px){

    .form_container{
        display: block;

        h3{
            display: flex;
            justify-content: center;
            padding-right: 0px;
        }

        form{
            margin-right: 0px;
            justify-content: center;

            .nombre_form{
                display: flex;
                justify-content: center;
            }

            .mail_form{
                display: flex;
                justify-content: center;
                padding-right: 25px;
            }


            .mensaje_form{
                display: flex;
                justify-content: center;
                padding-right: 15px;
            }

            label{
                margin-right: 7px;
            }
        }

        .botones_contacto{
            padding-left: 45px;
        }

    }

}



@media screen and (max-width: 376px){


    .form_container{
        display: block;

        h3{
            font-size: medium;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
        }

        form{
            display: flex;
            justify-content: center;
            margin-right: 0px;
            margin-top: 0px;

            .mensaje_form{
                padding-left: 0px;
                display: flex;
                justify-content: center;
            }

            .mail_form{
                display: flex;
                justify-content: center;
                padding-right: 27px;
            }

            .nombre_form{
                display: flex;
                justify-content: center;
                padding-right: 50px;

            }

            legend{
                justify-content: center;
                padding-right: 0px;
            }

            label{
                margin-right: 7px;
            }
        
        }

        .botones_contacto{
            padding-left: 25px;
        }
    }

}

@media screen and (max-width: 320px){

    .form_container{
        display: block;
    }

    h3{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 391px){

    .form_container{
        h3{
            padding-left: 10px;
        }
    }

}
