@use "./_index.scss";
@use "./_videos.scss";
@use "./_discografia.scss";
@use "./_contacto.scss";
@use "./_biografia.scss";














h2{
    color: rgb(222, 208, 208);

    font-size: 40px;

    padding-top: 20px;
    padding-bottom: 15px;





}








h3{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-decoration: underline;

    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 50px;
}








    
  